.card {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width:300px;
    height: auto;
}

.card:hover {
    transform: scale(1.02);
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textSection {
    flex: 2;
}

.projectTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.projectCategory {
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 5px;
}

.projectDescription {
    font-size: 14px;
    color: #888;
    width: 200px;
    max-height: 4.5em;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5em;
    padding: 5px;
    box-sizing: border-box;
}


.projectTeam {
    font-size: 14px;
    color: #555;
}

.deadline {
    font-size: 14px;
    color: #ff9800;
    text-align: center;
    margin-top: 10px;
}

.progressSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressCircle {
    width: 80px;
    height: 80px;
    position: relative;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.progressBar {
    stroke: #3399FF;
    stroke-width: 8;
    fill: transparent;
}

.progressBg {
    stroke: #ccc;
    stroke-width: 8;
    fill: transparent;
    opacity: 0.4;
}

.completed{
    background-color: var(--gray-300);
    border: 1px solid var(--gray-400);
}